<h1>New Animal</h1>
<table>
  <form method ="post" action="/animals">
    <tr>
      <th>
       <label for="Animal_name">Animal name:</label></th><td></td><td><input id="name" type="text" name="name" /></td></tr>
       <tr>
         <th><label for="type">Select a Type</label></th><td></td><td>
         <select id="type" name="type">
          <% for type in @types %>
          <option value="<%=type.id%>"><%=type.name%></option>

          <% end %>
        </select></td>
      </tr>
      <tr>
        <th> <label for="breed">Breed:</label></th><td></td> <td>
        <input id="breed" type="text" name="breed" /></td>
      </tr>

    </tr>
    <tr>
     <th><label for="Admission_date">Admission Date:</label>
     </th>
     <td></td>
     <td>
       <input id="Admission_date" type="date" name="admission_date" /></td>

     </tr>
     <tr>
      <th><label for="description">Description</label>
      </th>
      <td></td>
      <td>
        <input id="description" type="text" name="description" /></td>
      </tr>
      <tr>
       <th><label for="Image">Image:</label>
       </th><td></td>
       <td><input type ="url"  name = "image" value = "url" /></td>

     </tr>
     <tr>
      <th><label for="status">Status:</label>
      </th><td></td>
      <td><input type ="radio"  name = "status" value = "true" checked="checked" />Adoptable</td>
      <td><input type ="radio"  name = "status" value = "false" />Not Adoptable</td>


    </tr>
    <tr>
     <th><label for="Training">Training:</label>
     </th><td></td>
     <td><input type ="radio"  name = "training" value = "true" checked="checked" />Need training</td>
     <td><input type ="radio"  name = "training" value = "false" /> No Training Needed</td>
   </tr>
   <tr>
     <td></td>
     <td>
     <input type="submit" value="Add Animal" class="button" /></td></tr>
     </form>

   </table>
