body.animal {
background-image: url("/images/back.jpg");
background-repeat: no-repeat;
font-family: Verdana, serif;
}


h1{
  color: Black;
  text-align: center;
  
}
ul.unorder li{
list-style-type: none;
display: inline;

}
div.animals {
  
  font-size: 15px;
 }
 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
     
 }

 li {
     float: left;
     border-right:1px solid #bbb;
 }

 li a {
     display: block;
     color: white;
     text-align: center;
     padding: 16px 25px;
     text-decoration: none;
 }

 /* Change the link color to #111 (black) on hover */
 li a:hover {
     background-color: #111;
 }
div.animals{
display: block;

float: left}

.image{

  height: 150px; 
  width: 200px;
 display: block;
 margin: auto;
  
}
.image1{
  height: 150px; 
  width: 200px;
}
th.header{
  text-align: left;

}
p.text{
  text-align: left;
}

div.form{
  display:inline;
 
}
