<h1>Assign Animal</h1>
<table>
  <form method = "post" action="/assign" >
    <tr>
      <th><label for="type">Select a User</label></th><td></td><td>
      <select  name="owner_id">
        <% for owner in @owners %>
        <option value="<%= owner.id %>"><%= owner.first_name%></option>
        <% end %>
      </select>

    </td><br/></tr>
    <tr>
      <th><label for="type">Select a Animal type</label></th><td></td>
      <td>
        <% if @adoptable_animals != [] %>
       
        <select  name="animal_id">
        <% for adoptable_animal in @adoptable_animals %>
          <option value="<%= adoptable_animal.id %>"><%=adoptable_animal.name%></option> <% end %>
        </select></td></tr><tr></tr>
        <tr><td style="text-align:right;"><input type="submit" value="AssignAnimal" class ="button" /></td></tr>
        </form>
       
      
      
       <% else %>
       No animals to Adopt
       <% end %>

     </table>