<h2> Not Adoptable animals</h2>
<% for animal in @animals %>
<% if animal.status == "t" %>
<p> Name:<%= animal.name%></p>
<p> Admission date:<%= animal.admission_date %></p>
<p> <img src="<%= animal.image %>" style="height: 150px; width: 200px" /></p>
<p> Description:<%= animal.description %></p>


<%end %>
<% end%>