<table>
  <tr>
    <marquee behavior="scroll" direction="down" > 
<h1 style="color:white">Animal Shelter</h1></marquee>
    <div>
      <img class = "image" src ="<%= @animals.sample.image %>" /></div>

    </table>
