<table>
  <tr>
    <marquee behavior="scroll" direction="down" > 
<h1 style="color:white;text-shadow: 2px 2px 4px #000000;">Animal Shelter</h1></marquee>
    <div>
      <img class = "image" src ="<%= @animals.sample.image %>" /></div>

    </table>
