<!DOCTYPE html>
<html>
<head>
  <title>Animal Shelter</title> 
  <link rel="stylesheet" type="text/css" href="/images/styles.css" />
</head>
<body class ="animal">
  <nav>
    <ul class="unorder">
      <li>
        <a href="/animals">Animals</a>
      </li>
      <li>
        <a href="/owners">Owners</a>
      </li>
      <li>
       <a href="/animals/new">New Animals</a>
     </li>
     <li>
       <a href="/adoptions">Adoptable Animals</a>
     </li>
     <li>
       <a href="/assign">Assign Animals</a>
     </li>
     <li>
       <a href="/owners/new">New Owner</a>
     </li>
     <li>
       <a href="/training">In Training Animals</a>
     </li>
   </ul>
 </nav>
 <%=yield %>
</body>
</html>