<!DOCTYPE html>
<html>
<head>
  <title>Animal Shelter</title> 
  <link rel="stylesheet" type="text/css" href="/images/style.css">
</head>
<body class ="animal">
  <nav>
    <ul class="unorder">
      <li>
        <a href="/animals">Animals</a>
      </li>
      <li>
        <a href="/owners">Owners</a>
      </li>
    </ul>
  </nav>
  
  <%= yield %>
  
  
</body>
</html>