<h1>All Owners</h1>

  <% for owner in @owners %>

    <p>Name:   <%= owner.first_name %>  </p>
    <% for animal in owner.animals %>
   <p>Animal name:  <%=animal.name %>   </p>
   <p>Animal Admission date:  <%= animal.admission_date  %></p>
    
     <% end %>
 <form method = "get" type='submit' action = "/owners/<%= owner.id%>/adopt">
 <input type ="submit" value ="adoption">
 <% end %>
 </form>
  
  
  
    
    
    
    
    
  
  
