


<h1>New Owner!Animal Adoption</h1>

<form action="/owners" method="post">
  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name" />
  <br></br>
  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name" />
  <br></br>
  <label for="last-name">Email:</label>
  <input id="email" type="text" name="email" />

  

  <input class="btn btn--action" type='submit' value="Bite!">
</form>